@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat/Montserrat-Medium.ttf") format("ttf");
}

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway/static/Raleway-Medium.ttf") format("ttf");
}

:root {
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #56026e;
  border: 1px solid #fff5ee;
}

main {
  width: 100vw;
  overflow: hidden;
}

section {
  padding: 0 10rem;
}

.transformTranslate {
  -webkit-transform: translateY(180%);
          transform: translateY(180%);
  -webkit-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
  opacity: 0;
}

.topLineMenu {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 20px;
}

.bottomLineMenu {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-bottom: 8px;
}

.hidden {
  opacity: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff5ee;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

p {
  line-height: 2;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #fff5ee;
  letter-spacing: 1.7px;
  font-size: 1rem;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: lowercase;
  font-weight: 500;
}

._active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.header {
  position: fixed;
  background-color: #0f292f00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  z-index: 99;
  padding: 2rem 4rem;
}

.header .logo {
  width: 50px;
  stroke: #fff5ee;
}

.header__nav {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  margin-right: 2rem;
}

.header__nav a {
  display: block;
  position: relative;
  line-height: 50px;
  color: #fff5ee;
  font-size: 1rem;
}

.header__nav a::before {
  content: "";
  width: 0px;
  height: 2px;
  background-color: #fff5ee;
  top: 40px;
  position: absolute;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header__nav a:hover::before {
  width: 50px;
}

.header__nav.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.header__nav-mobile {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 30px;
  z-index: 99;
}

.header__nav-mobile span {
  width: 30px;
  height: 1px;
  background-color: #fff5ee;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

@-webkit-keyframes rotateIt {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateIt {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.rotateIt {
  position: relative;
}

.about {
  overflow: hidden;
}

.about .pic {
  position: absolute;
  width: 50vw;
  top: 40%;
  left: 70%;
  -webkit-animation-name: rotateIt;
          animation-name: rotateIt;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.about__content {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__content h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  letter-spacing: 5px;
}

.about__content a {
  display: inline-block;
  position: relative;
  background-color: #ffd673;
  padding: 1% 2%;
  margin-top: 2rem;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 23px #56026e;
          box-shadow: 2px 2px 23px #56026e;
  text-align: center;
}

.about__content a p {
  color: #56026e;
  font-size: 1.5rem;
}

.about__content a:hover {
  color: #56026e;
  -webkit-box-shadow: 5px 5px 23px #fff5ee;
          box-shadow: 5px 5px 23px #fff5ee;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.about__content p {
  letter-spacing: 3px;
}

.features {
  background-image: url("../images/background.svg");
  background-position: 10% top;
  background-size: 80%;
  background-repeat: no-repeat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features__content {
  background-color: #57026ebd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.features__content__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.features__content__wrap .card {
  position: relative;
  background-color: #f0f1ee7c;
  overflow: hidden;
  margin-right: 2rem;
  padding: 30px;
  border-left: 1px solid #fff5ee;
  border-bottom: 1px solid #fff5ee;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  max-width: 22%;
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-box-shadow: 2px 2px 23px #56026e;
          box-shadow: 2px 2px 23px #56026e;
}

.features__content__wrap .card img {
  position: absolute;
  opacity: .3;
  top: -20%;
  left: 50%;
  width: 80%;
}

.features__content__wrap .card:hover {
  -webkit-transform: perspective(900px) rotateX(9deg) rotateY(0deg) rotateZ(0deg);
          transform: perspective(900px) rotateX(9deg) rotateY(0deg) rotateZ(0deg);
  background: -webkit-gradient(linear, left top, left bottom, from(#57026ebd), to(#fff5ee));
  background: linear-gradient(#57026ebd, #fff5ee);
}

.features__content__wrap .card:hover p {
  color: #ffd673;
}

.features__content .bottom_text {
  margin-top: 2rem;
}

.features__content .bottom_text p {
  line-height: 1.5;
  font-size: 1rem;
}

.myWorks {
  background-color: #ffd673;
  background-image: url("../images/background.svg");
  background-position: 0% 0%;
  background-size: 120%;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
}

.myWorks__content {
  padding-top: 8rem;
  padding-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.myWorks__content h2 {
  letter-spacing: 5px;
}

.myWorks__content p {
  color: #56026e;
}

.myWorks__content__gallery {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.myWorks__content__gallery .card {
  background-color: #56026e;
  max-width: 22%;
  margin-right: 2rem;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 23px #56026e;
          box-shadow: 2px 2px 23px #56026e;
}

.myWorks__content__gallery .card:hover {
  -webkit-box-shadow: 5px 5px 23px #fff5ee;
          box-shadow: 5px 5px 23px #fff5ee;
}

.myWorks__content__gallery .card h5 {
  padding: 30px;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: initial;
}

.myWorks__content__gallery .card a {
  display: block;
}

.myWorks__content__gallery .card a img {
  width: 100%;
}

.myWorks__content__links a {
  position: relative;
  margin-right: 2rem;
  color: #56026e;
}

.myWorks__content__links a:before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #56026e;
  top: 40px;
  position: absolute;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.myWorks__content__links a:hover:before {
  width: 100%;
}

.resourses {
  background-color: #56026e;
  background-image: url("../images/background.svg");
  background-position: 150% 150%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.resourses__content {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: flex-start;
}

.resourses__content__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resourses__content__links a {
  display: block;
  width: initial;
  color: #ffd673;
  position: relative;
  line-height: 2.5;
}

.resourses__content__links a:before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #e4e876;
  top: 50px;
  position: absolute;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.resourses__content__links a:hover:before {
  width: 30%;
}

.footer {
  background-color: #56026e;
  padding: 2rem;
}

.footer h3 {
  margin-bottom: 2rem;
  color: #fff5ee;
}

.footer__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer__content a {
  margin-bottom: 1rem;
  font-weight: 400;
  color: #fff5ee;
  font-size: 1rem;
}

.footer__content .logo {
  width: 2.5rem;
}

.footer__content .contact__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__content .contact__icons a {
  display: block;
  margin: 1rem;
}

.footer__content .contact__icons a svg {
  width: 2.5rem;
  height: 2.5rem;
  stroke: #fff5ee;
}

.footer__content .contact__icons a svg:hover {
  fill: #e4e876;
}

.header.red {
  background-color: #57026ebd;
}

@media all and (max-width: 1000px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  p {
    font-size: .8rem;
  }
  section {
    padding: 1rem;
  }
  .header {
    padding: 0;
    background-color: #57026ebd;
  }
  .header .logo {
    margin: 1rem;
  }
  .header__nav a {
    color: transparent;
  }
  .header__nav a::before {
    content: "";
    width: 0px;
  }
  .header__nav a:hover::before {
    width: 0px;
  }
  .header__nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about__content {
    padding: 30px;
  }
  .about__content h1 {
    margin-top: 20%;
  }
  .features {
    padding: 1rem;
  }
  .features__content {
    height: auto;
  }
  .features__content h2 {
    margin-top: 4rem;
  }
  .features__content__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
  }
  .features__content__wrap .card {
    position: relative;
    margin: 1rem auto;
    padding: 30px;
    max-width: 70vw;
  }
  .features__content .bottom_text p {
    padding: 0;
  }
  .myWorks {
    height: auto;
  }
  .myWorks__content {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .myWorks__content p {
    margin-bottom: 30px;
    line-height: 1;
  }
  .myWorks__content__gallery {
    margin: 3rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .myWorks__content__gallery .card {
    max-width: 18.75rem;
    margin: 1% auto;
    margin-bottom: 1rem;
    height: 18.75rem;
  }
  .myWorks__content__gallery .card h5 {
    padding: 30px;
    font-size: .9rem;
  }
  .myWorks__content__gallery .card a {
    display: block;
  }
  .myWorks__content__gallery .card a img {
    width: 100%;
    height: 100%;
  }
  .myWorks__content__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-bottom: 1rem;
  }
  .myWorks__content__links a {
    display: block;
    position: relative;
    margin-left: 0px;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .myWorks__content__links a:before {
    content: "";
    width: 0;
    height: 2px;
    background-color: #fff5ee;
    top: 40px;
    position: absolute;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .myWorks__content__links a:hover:before {
    width: 100%;
  }
  .resourses {
    height: 100vh;
  }
  .resourses__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .resourses__content__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .resourses__content__links h3 {
    font-size: 1rem;
    margin: 0;
  }
  .resourses__content__links a {
    display: block;
    width: initial;
    line-height: 2;
  }
  .resourses__content h2 {
    margin-bottom: 4rem;
  }
  .footer {
    padding: 2rem;
  }
}

.header__nav a.visible {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  color: #fff5ee;
}

.header__nav a.visible::before {
  content: "";
  width: 0px;
  height: 2px;
  background-color: #fff5ee;
  top: 40px;
  position: absolute;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header__nav a.visible:hover::before {
  width: 50px;
}
/*# sourceMappingURL=style.css.map */