@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');

@mixin df-fdc-cc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: rgb(3, 32, 31);
    border: 1px solid rgb(248, 248, 250);
    // width: 100vw;
}

main {
    width: 100%;
}

.transformTranslate {
    transform: translateY(180%);
    transition: all .8s ease-in-out;
    opacity: 0;
}

.topLineMenu {
    transform: rotate(45deg);
    margin-top: 20px;
}

.bottomLineMenu {
    transform: rotate(-45deg);
    margin-bottom: 8px;

}

.hidden {
    opacity: 0;
}

h1,
h2,
h3,
h4,
h5 {
    color: rgb(198, 236, 228);
    text-transform: uppercase;
    font-weight: 100;

}

h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;

}

p {
    line-height: 2;
    font-weight: 300;

    color: rgb(237, 245, 245);
    letter-spacing: 1.7px;
    font-size: 1rem;

    word-wrap: break-word;
}

a {
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
}

._active {
    transform: translateY(0%);
    opacity: 1;
}

article {
    width: 100%;
}

.header {
    position: fixed;
    background-color: rgba(3, 32, 31, 0.664);
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 100vw;
    z-index: 99;
    padding: 30px 0;

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 50px;

    }

    &__nav {
        margin-left: auto;
        display: flex;

        justify-content: space-between;
        width: 40%;
        margin-right: 2rem;

        a {

            display: block;
            position: relative;
            margin-right: 10px;
            line-height: 50px;
            text-transform: uppercase;
            color: rgb(248, 248, 250);
            font-size: 1rem;

            &::before {
                content: "";
                width: 0px;
                height: 2px;
                background-color: rgb(174, 243, 253);
                top: 40px;
                position: absolute;
                transition: all .5s ease-in-out;

            }

            &:hover {
                &::before {

                    width: 50px;

                }
            }
        }
    }

    &__nav.mobile {
        flex-direction: column;
        padding-top: 6rem;
        padding-bottom: 6rem;
        padding-right: 2rem;

        a {
            margin-left: -35%;
        }
    }

    &__nav-mobile {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 30px;
        z-index: 99;

        span {
            width: 30px;
            height: 1px;
            background-color: rgb(248, 248, 250);
            transition: all .5s ease-in-out;
        }
    }
}

.about {
    background-image: url('../images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70%;
    background-attachment: fixed;

    &__content {
        width: 100%;
        height: 100vh;
        @include df-fdc-cc();

        h1 {
            font-size: 2rem;
            font-weight: 100;
            margin-bottom: 2rem;
            letter-spacing: 5px;
        }

        a {
            display: inline-block;
            position: relative;
            background-color: rgba(174, 242, 253, 0.733);
            padding: 1% 2%;

            margin-top: 2rem;
            transition: .5s;
            border-radius: 5px;
            box-shadow: 2px 2px 23px rgb(3, 32, 31);
            text-align: center;

            p {
                color: rgba(3, 32, 31, 0.664);
                font-weight: 300;
                font-size: 1.5rem;
            }

            &:hover {
                color: rgba(3, 32, 31, 0.664);
                box-shadow: 5px 5px 23px rgb(174, 243, 253);
                padding: 1% 3%;
            }

        }

        p {
            letter-spacing: 3px;
        }
    }
}

.features {
    background-image: url('../images/fullstack-set.svg');
    background-position: 90% bottom;
    background-size: 20%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;

    &__content {

        padding-top: 2rem;

        h2 {
            margin-top: 4rem;
         
            letter-spacing: 5px;

        }

        background-color: rgba(19, 182, 155, 0.144);

        @include df-fdc-cc();

        &__wrap {
            display: flex;
            flex-wrap: wrap;
            width: 100vw;

            .card {
                position: relative;
                background-color: rgba(255, 255, 255, 0.288);
                margin: 20px auto;
                padding: 30px;
                border-left: 1px solid white;
                border-bottom: 1px solid white;
                border-radius: 5px;
                backdrop-filter: blur(5px);
                max-width: 20vw;
                transition: .8s;
                box-shadow: 2px 2px 23px rgb(3, 32, 31);

                img {
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    width: 60px;


                }

                &:hover {
                    transform: perspective(900px) rotateX(9deg) rotateY(0deg) rotateZ(0deg);
                    background: linear-gradient(rgba(255, 255, 255, 0.288), rgba(255, 255, 255, 0.815));

                    p {
                        color: rgb(74, 80, 79);
                    }
                }

            }
        }

        .bottom_text {
            padding: 30px;

            p {
                line-height: 1.5;
                font-size: 1rem;
                padding: 30px;
            }
        }
    }
}

.myWorks {
    background-color: rgba(150, 168, 231, 1);

    &__content {
        padding: 5% 30px;
        @include df-fdc-cc();

        h2 {
            
            letter-spacing: 5px;
            color: rgb(3, 32, 31);
        }

        p {
            color: rgb(3, 32, 31);

        }

        &__gallery {
            margin-top: 2rem;
            margin-bottom: 2rem;
            display: flex;

            .card {
                background-color: rgb(51, 56, 55);
                max-width: 22%;
                margin: 1% auto;
                height: 400px;
                display: flex;
                flex-wrap: wrap;
                overflow: hidden;
                border-radius: 5px;
                box-shadow: 2px 2px 23px rgb(3, 32, 31);

                &:hover {
                    box-shadow: 5px 5px 23px rgb(174, 243, 253);
                }

                h5 {

                    padding: 30px;
                    font-size: 1.5rem;
                    font-weight: 500;

                    text-transform: initial;
                }

                a {
                    display: block;
                    border: 2px solid rgb(3, 32, 31);


                    img {
                        width: 100%;

                    }

                   
                }

            }
        }

        &__links {

            a {
                position: relative;
                margin-left: 2rem;
                font-weight: 300;

                color: rgb(3, 32, 31);

                &:before {
                    content: "";
                    width: 0;
                    height: 2px;
                    background-color: rgba(255, 255, 255, 0.815);
                    top: 40px;
                    position: absolute;
                    transition: all .5s ease-in-out;
                }

                &:hover {
                    &:before {

                        width: 100%;

                    }
                }



            }
        }
    }

}

.resourses {
    padding: 30px;

    &__content {
        height: 100vh;

        &__links {

            display: flex;
            flex-direction: column;

            h3 {
                margin: 2rem 0;
            }

            a {
                display: block;
                width: initial;

                font-weight: 100;
                color: rgba(150, 168, 231, 1);
                position: relative;
                line-height: 2.5;

                &:before {
                    content: "";
                    width: 0;
                    height: 2px;
                    background-color: rgba(150, 168, 231, 1);
                    top: 50px;
                    position: absolute;
                    transition: all .5s ease-in-out;
                }

                &:hover {
                    &:before {

                        width: 30%;

                    }
                }
            }



        }

        @include df-fdc-cc();

        h2 {
            margin-bottom: 4rem;
        }
    }

}

.footer {
    background-color: rgba(174, 242, 253, 0.733);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {

        margin-bottom: 2rem;

    }

    &__content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: relative;

        a {
            color: rgb(248, 248, 250);

            font-weight: 300;

        }

        .logo {
            width: 3vw;
        }

        .contact__icons {

            display: flex;

            a {
                display: block;
                width: 50px;
                height: 50px;

                svg {
                    width: 3rem;
                    height: 3rem;
                    stroke: rgb(3, 32, 31);
                }

                &:hover {
                    svg {
                        stroke: rgb(248, 248, 250);
                    }
                }
            }

        }

    }


}

.header.red {

    background-color: rgba(150, 168, 231, 0.767);
}

@media all and (max-width:1000px) {
    .header {
        padding: 0;

        &__nav {
            a {
                color: transparent;

                &::before {
                    content: "";
                    width: 0px;

                }

                &:hover {
                    &::before {

                        width: 0px;

                    }
                }
            }
        }

        &__nav-mobile {
           
            display: flex;
        }
    }

    .about {
        &__content {
            padding: 30px;

            h1 {
                margin-top: 20%;
                font-size: 2rem;

            }

        }
    }

    .features {

        &__content {

            padding: 60px 30px;

            h2 {
                margin-top: 4rem;
              

            }

            &__wrap {
                display: flex;
                flex-direction: column;
                width: 100vw;

                .card {
                    position: relative;

                    margin: 2rem auto;
                    padding: 30px;


                    max-width: 70vw;

                    p {
                        font-size: 1rem;
                    }

                }
            }

            .bottom_text p {
                padding: 0;
            }

        }
    }

    .myWorks {


        &__content {
            padding:  2rem;
            @include df-fdc-cc();


            h2 {

                letter-spacing: 5px;

            }

            p {
                margin-bottom: 30px;
                line-height: 1;
            }

            &__gallery {
                margin: 3rem 0;

                display: flex;
                flex-direction: column;

                .card {

                    max-width: 300px;
                    margin: 1% auto;
                    height: 600px;


                    h5 {

                        padding: 30px;
                        font-size: 1.5rem;
                        font-weight: 300;

                        text-transform: initial;
                    }

                    a {
                        display: block;



                        img {
                            
                            width: 300px;
                            height: 600px;

                        }
                    }

                }
            }

            &__links {
                display: flex;
                flex-direction: column;
                justify-content: start;
                margin-bottom: 30px;

                a {
                    display: block;
                    position: relative;
                    margin-left: 0px;
                    font-weight: 400;
                    font-size: 1.5rem;
                    margin-bottom: 30px;


                    &:before {
                        content: "";
                        width: 0;
                        height: 2px;
                        background-color: rgba(255, 255, 255, 0.815);
                        top: 40px;
                        position: absolute;
                        transition: all .5s ease-in-out;
                    }

                    &:hover {
                        &:before {

                            width: 100%;

                        }
                    }



                }
            }
        }

    }

    .resourses {
        padding: 60px 30px;

        &__content {
            height: 100%;

            &__links {

                display: flex;
                flex-direction: column;

                h3 {
                    margin: 60px 0;
                }

                a {
                    display: block;
                    width: initial;
                    line-height: 3;
                    font-weight: 400;


                }



            }

            @include df-fdc-cc();

            h2 {
                margin-bottom: 4rem;
            }
        }

    }

    .footer {

        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        &__content {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            position: relative;

            a {


                font-weight: 300;
            }

            .logo {
                width: 30vw;
            }



        }


    }
}

.header__nav a.visible {
    transition: all 1s ease-in-out;
    color: rgb(248, 248, 250);

    &::before {
        content: "";
        width: 0px;
        height: 2px;
        background-color: rgb(174, 243, 253);
        top: 40px;
        position: absolute;
        transition: all .5s ease-in-out;

    }

    &:hover {
        &::before {

            width: 50px;

        }
    }

}